/*reset css*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  /*在移动端的设置*/
  /*清除点击高亮效果*/
  -webkit-tap-highlight-color: transparent;
  /*设置盒子宽度从边框计算*/
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #333333;
}
.clearfix::before, .clearfix::after {
  content: '.';
  line-height: 0;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
input, textarea {
  border: none;
  outline: none;
  resize: none;
  /*特殊属性定义 清除浏览器给input自带的样式*/
  -webkit-appearance: none;
}
ul, ol, li {
  list-style: none;
}
.fs_11{
  font-size:12px;
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform: scale(0.916);
  transform: scale(0.916);
}
.fs_10{
  font-size:12px;
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform: scale(0.83333);
  transform: scale(0.83333);
}
.fs_9{
  font-size:12px;
  -webkit-transform-origin-x: 0;
  transform-origin-x: 0;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
}
/*搜索框*/
.dinglian-circle-all .mint-searchbar {
  height: 45px;
  background: #f2f2f2;
}
.dinglian-circle-all .mint-searchbar-inner {
  height: 24px;
  border-radius: 4px;
}
.dinglian-circle-all .mint-searchbar-inner .mint-searchbar-core {
  text-align: center;
}
.dinglian-circle-all .mint-searchbar-cancel {
  color: #333333;
  font-size: 12px;
}
